__pycache__/
*.py[cod]

venv/
.env/
.venv/
env/
pip-log.txt
pip-delete-this-directory.txt

.vscode/
.idea/
*.sublime-workspace

.ipynb_checkpoints/

logs/
*.log
*.out
*.err
*.pid

*.so
*.pyd
build/
dist/
*.egg-info/
*.eggs/

poetry.lock
Pipfile.lock

*.swp
*.swo
*.bak
.DS_Store
Thumbs.db

htmlcov/
.coverage
*.cover
.pytest_cache/
nosetests.xml
test-results.xml
